<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,maximum-scale=1.0">
	<title>Browse Users</title>
    <link rel="stylesheet" href="/stylesheets/fontello.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,700&amp;subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="/stylesheets/main.css">
	<% if(!(typeof stylesheetPage === 'undefined')){ %>
		<link rel="stylesheet" href="/stylesheets/<%= stylesheetPage %>">
	<% } %>
</head>
<body>
    <nav class="navbarTop">
        <ul class="navButtons">
            <li id="homeLink"><a class="headerLink" href="/">Home</a></li>
            <% if(!currentUser){ %>
                <li><a class="buttonMenu" href="/login">Log In</a></li>
                <li><a class="buttonMenu" href="/register">Sing Up</a></li>
            <% }else{ %>
                <li><a class="buttonMenu" href="/logout">Logout</a></li>                    
                <li id="profileInfo">
                    <a class="headerLink" href="/users/<%= currentUser._id %>">Signed In As <%= currentUser.username %></a>
                    <img id="imgProfile" src="<%= currentUser.profilePicture.imageSrc %>" alt="avatar">
                    <div class="clear">&nbsp;</div>
                </li>
            <% } %> 
            <div class="clear">&nbsp;</div>
        </ul>
    </nav> 
    <div class="containerMessageFlash">
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <h1><%= error %></h1>
            </div>
        <% }; if(success && success.length > 0){ %>
            <div class="alert alert-success" role="alert">
                <h1><%= success %></h1>
            </div>
        <% }; %>
    </div>