<% include ../partials/header %>

<h1 class="title">Browse users</h1>

<div class="containerViewAllUsers">
	<% users.forEach( function(user) { %>
		<div class="informationOfUser">
			<a href="/users/<%= user._id%>"><i class="icon-export shareIcon"></i></a>
			<a href="/users/<%= user._id%>" class="currentLocation"></a>
			<div class="infomationOfUser_img">
				<div style="background-image: url(<%= user.profilePicture.imageSrc %>)"></div>
			</div>
			<div class="infomationOfUser_text">
				<h3><%= user.firstname %> <%= user.lastname %></h3>
				<h5><%= user.city %>, <%= user.country %></h5>
			</div>
			<div class="clear">&nbsp;</div>
		</div>
	<% }); %>
</div>
	
<% include ../partials/footer %>