<% include ../partials/header %>

<div class="containerViewUser">
	<div class="backgroundHeader"></div>
	<div class="contentViewUser">
		<div class="contentUserTop">
			<a href="/users/<%= user._id%>"><i class="icon-export shareIcon"></i></a>
			<a href="/users/<%= user._id%>" class="currentLocation" value="/<%= user._id%>"></a>
			<div class="infomationOfUser">
				<div class="infomationOfUser_img">
					<div style="background-image: url(<%= user.profilePicture.imageSrc %>)"></div>
				</div>
				<div class="infomationOfUser_text">
					<h3><%= user.firstname %> <%= user.lastname %> 
						<% if( currentUser ){ %>
							<% if( user._id.equals(currentUser._id) ){ %>
							<% } else{%>
								<% if (liked) { -%>
									<form class="formLike" action="/users/<%= user._id %>/unlike" method="post" onsubmit="btnLike1.disabled = true; return true;">
										<button name="btnLike1" type="submit" class="buttonLike"><i type="submit" class="heartLike icon-heart-empty icon-heart"></i></button>
									</form>
								<% } else { -%>
									<form class="formLike" action="/users/<%= user._id %>/like" method="post" onsubmit="btnLike2.disabled = true; return true;">
										<button name="btnLike2" type="submit" class="buttonLike"><i type="submit" class="heartLike icon-heart-empty"></i></button>
									</form>
								<% } -%>
							<% }%>
							<a id="editProfile" href="/users/<%= user._id%>/edit">Edit profil</a>
						<% }else{ %>	
							<form class="formLike" action="/users/<%= user._id %>/like" method="post" onsubmit="btnLike3.disabled = true; return true;">
								<button name="btnLike3" type="submit" class="buttonLike"><i class="heartLike icon-heart-empty"></i></button>
							</form>
						<% } %>
					</h3>

					<h5><%= user.city %>, <%= user.country %></h5>
				</div>
				<div class="clear">&nbsp;</div>
			</div>
			<div class="likesFollowsOfUser">
				<div class="likesFollowsOfUser_block_group">
					<div class="likesFollowsOfUser_block">
						<p class="likesFollowsOfUser_number" id="likes"><%= user.likes %></p>
						<p class="likesFollowsOfUser_text">Likes</p>
					</div>
					<div class="likesFollowsOfUser_block">
						<p class="likesFollowsOfUser_number" id="following"><%= user.following %></p>
						<p class="likesFollowsOfUser_text">Following</p>
					</div>
					<div class="likesFollowsOfUser_block">
						<p class="likesFollowsOfUser_number" id="followes"><%= user.followers.length %></p>
						<p class="likesFollowsOfUser_text">Followes</p>
					</div>
				</div>
					<% if( currentUser ){ %>
						<% if( user._id.equals(currentUser._id) ){ %>
						<% } else{%>
							<% if (followed) { -%>
								<form action="/users/<%= user._id %>/unfollow" method="post" onsubmit="btnFollow1.disabled = true; return true;">
									<button name="btnFollow1" type="submit" class="buttonFollow animationBtnMenu buttonFollowing">FOLLOWING</button>
								</form>
							<% } else { -%>
								<form action="/users/<%= user._id %>/follow" method="post" onsubmit="btnFollow2.disabled = true; return true;">
									<button name="btnFollow2" type="submit" class="buttonFollow animationBtnMenu">FOLLOW</button>
								</form>
							<% } -%>
						<% }%>
					<% }else{ %>	
						<form action="/users/<%= user._id %>/follow" method="post" onsubmit="btnFollow3.disabled = true; return true;">
							<button name="btnFollow3" type="submit" class="buttonFollow animationBtnMenu">FOLLOW</button>
						</form>
					<% } %>				
				<div class="clear">&nbsp;</div>
			</div>
		</div>
		<div class="contentComments">		
			<p class="hideComments" >Hide comments ( <%= user.comments.length %> )</p>
			<div class="comments animationHeight">
				<% user.comments.forEach( function(comment) { %>		
					<div class="comment">
						<div class="headerComment">
							<div class="infomationOfUser_img">
								<div style="background-image: url(<%= comment.author.profilePicture %>)"></div>
							</div>
							<div class="comment_userName_date">
								<h5><%= comment.author.firstname %> <%= comment.author.lastname %></h5>
								<p><%= Math.round((dateNow - comment.date.getTime()) / 3600000 /24 ) %> d</p>
								<div class="clear">&nbsp;</div>
							</div>
						</div>
						<p class="comment_text">
							<%= comment.text %>
						</p>
						<div class="clear">&nbsp;</div>
					</div>
				<% }); %>

			</div>

			<p id="addNewComment">Add a comment</p>
			<form class="newCommentForm hideByHeight animationHeight" action="/users/<%= user._id %>/comments/new" method="post" name="commentFormPost" id="commentFormPost">
				<textarea form="commentFormPost" id="comment" name="comment[text]" placeholder="Comment content" required='true'></textarea>				
				<input class="animationBtnMenu" type="submit" value="Submit">
			</form>
			<div class="line"></div>
		</div>
	</div>
</div>
<% include ../partials/footer %>