<% include ../partials/header %>

<div class="containerViewUser">
	<div class="backgroundHeader"></div>
	<div class="contentViewUser">
		<div class="contentUserTop">
			<a href="/users/<%= user._id%>"><i class="icon-export shareIcon"></i></a>
			<a href="/users/<%= user._id%>" class="currentLocation" value="/<%= user._id%>"></a>
			<div class="infomationOfUser">
				<div class="infomationOfUser_img">
					<img src="<%= user.profilePicture.imageSrc %>" alt="avatar">
				</div>
				<div class="infomationOfUser_text">
					<h3><%= user.firstname %> <%= user.lastname %> <i class="heartLike icon-heart-empty"></i></h3>
					<h5><%= user.city %>, <%= user.country %></h5>
				</div>
				<div class="clear">&nbsp;</div>
			</div>
			<div class="likesFollowsOfUser">
				<div class="likesFollowsOfUser_block_group">
					<div class="likesFollowsOfUser_block">
						<p class="likesFollowsOfUser_number"><%= user.likes.toString() %></p>
						<p class="likesFollowsOfUser_text">Likes</p>
					</div>
					<div class="likesFollowsOfUser_block">
						<p class="likesFollowsOfUser_number"><%= user.following %></p>
						<p class="likesFollowsOfUser_text">Following</p>
					</div>
					<div class="likesFollowsOfUser_block">
						<p class="likesFollowsOfUser_number"><%= user.followers %></p>
						<p class="likesFollowsOfUser_text">Followes</p>
					</div>
				</div>
				<% if(currentUser && !user._id.equals(currentUser._id) ){ %>	
					<button id="buttonFollow">FOLLOW</button>
				 <% } %>
				<div class="clear">&nbsp;</div>
			</div>
		</div>
		<div class="contentComments">		
			<p class="hideComments" >Hide comments ( <%= user.comments.length %> )</p>

			<div class="comments">
				<div class="comment">
					<div class="comment_userImg">
						<img src="/images/users/img_1.jpg" alt="avatar">
					</div>
					<div class="comment_userName_date">
						<h5>Firstname Lastname</h5>
						<p>1d</p>
						<div class="clear">&nbsp;</div>
					</div>
					<p class="comment_text">
						Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. 
					</p>
					<div class="clear">&nbsp;</div>
				</div>

				<div class="comment">
					<div class="comment_userImg">
						<img src="/images/users/img_1.jpg" alt="avatar">
					</div>
					<div class="comment_userName_date">
						<h5>Firstname Lastname</h5>
						<p>1d</p>
						<div class="clear">&nbsp;</div>
					</div>
					<p class="comment_text">
						Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. 
					</p>
					<div class="clear">&nbsp;</div>
				</div>

				<div class="comment">
					<div class="comment_userImg">
						<img src="/images/users/img_1.jpg" alt="avatar">
					</div>
					<div class="comment_userName_date">
						<h5>Firstname Lastname</h5>
						<p>1d</p>
						<div class="clear">&nbsp;</div>
					</div>
					<p class="comment_text">
						Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a, convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis. 
					</p>
					<div class="clear">&nbsp;</div>
				</div>
			</div>

			<p id="addNewComment">Add a comment</p>
			<form class="newCommentForm hideByHeight" action="">
				<textarea name="" id="" cols="30" rows="10"></textarea>
				<input type="submit" value="Submit">
			</form>
			<div class="line"></div>
		</div>
	</div>
</div>

<% include ../partials/footer %>